body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-left: 20px;
}

.chart-container {
    text-align: left;
}

h1 {
    font-size: 24px; /* Збільшено розмір заголовка */
    margin-bottom: 30px;
}

.bar-chart {
    display: flex;
    width: 300%; /* Встановлено ширину на 100% від контейнера */
    height: 100px; /* Збільшено висоту графіка */
    border-radius: 30px; /* Збільшено радіус кутів */
    overflow: hidden;
}

.bar {
    display: flex;
    padding-left: 10px;
    justify-content: left;
    align-items: center;
    color: white;
    font-weight: medium;
    font-size: 16px; /* Збільшено розмір шрифту */
}

.food {
    background-color: #e57373;
    flex: 3; /* Відображає 30% */
}

.other {
    background-color: #e0e0e0;
    color: black;
    flex: 7; /* Відображає 70% */
}

.arrow {
    margin-top: 20px;
    margin-left: 150px; /* Збільшено відступ зліва */
    font-weight: bold;
    font-size: 40px; /* Виправлено розмір стрілки */
}
