body {
  font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .chart-container {
    text-align: left;
    width: 90%;
    margin-bottom: 0px;
  }
  
  h1 {
    font-weight: 700; /* Bold для заголовків */
    margin-bottom: 10px;
  }
  
  .bar-chart {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Create space between label and percentage */
    align-items: flex-start; 
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .bar .label {
    font-size: 16px;
    font-weight: 400;
  }
  
  .bar .percentage {
    font-size: 16px;
    font-weight: 400; 
  }

  .food {
    background-color: #EC9898;
    color: black;
    flex: 3;
  }
  
  .other {
    background-color: #F5F5F5;
    color: black;
    flex: 7;
  }
  
  .animal {
    background-color: #FBBA74;
    color: black;
    flex: 5.8;
  }
  
  /* Клас для активації hovering ефекту */
.hover-active {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

/* Food */
.food.hover-active {
  background-color: #E67575;
}

/* Animal products */
.animal.hover-active {
  background-color: #F9A03F;
}

/* Plant-based */
.plant.hover-active {
  background-color: #F7F06D;
}

  .plant {
    background-color: #FAF59E;
    color: black;
    flex: 4.2;
  }
  
  /* Ефект hovering для Food */
.food:hover {
  background-color: #E67575;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

/* Ефект hovering для Animal products */
.animal:hover {
  background-color: #F9A03F;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

/* Ефект hovering для Plant-based */
.plant:hover {
  background-color: #F7F06D;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

  .beef {
    background-color: #D6740A;
    color: black;
    flex: 2.9;
  }
  
  .dairy {
    background-color: #EA7E0B;
    color: black;
    flex: 0.9;
  }
  
  .lamb {
    background-color: #F59229;
    color: black;
    flex: 0.7;
  }
  
  .pork {
    background-color: #F8B062;
    color: black;
    flex: 0.6;
  }
  
  .chicken {
    background-color: #FBCE9D;
    color: black;
    flex: 0.5;
  }
  
  .eggs {
    background-color: #FDE1C4;
    color: black;
    flex: 0.2;
  }
  
  .vegetable {
    background-color: #D5CB0B;
    color: black;
    flex: 3;
  }
  
  .grains {
    background-color: #E9DE0C;
    color: black;
    flex: 2.5;
  }
  
  .legumes {
    background-color: #F3E816;
    color: black;
    flex: 1.5;
  }
  
  .fruits {
    background-color: #F6EE51;
    color: black;
    flex: 1.5;
  }
  
  .nuts {
    background-color: #F9F38B;
    color: black;
    flex: 0.8;
  }
  
  .oils {
    background-color: #FBF7B1;
    color: black;
    flex: 0.5;
  }
  
  .others {
    background-color: #FDFBD8;
    color: black;
    flex: 0.1;
  }
  
  
  .arrows {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*margin-top: 10px;*/
  }
  
  .hidden {
    display: none;
  }
  .arrow {
    margin-top: 20px;
    cursor: pointer;
    text-align: left;
    margin-left: 180px;
  }
  
  .arrow-icon {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .arrow:hover .arrow-icon {
    content: url("./9.svg");
    
    opacity: 0.9;
  }
  
  .arrow .arrow-icon {
    display: inline;
  }
  
  .arrow.line .arrow-icon {
    display: none;
  }
  
  .arrow.line::after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: black;
    margin: 0 auto;
  }

  /* Додані стилі для зміни font-weight на 500 під час hover */
.bar:hover .label, 
.bar:hover .percentage {
  font-weight: 500;
  transition: font-weight 0.3s ease-in-out;
}

/* Hover-active ефект, щоб додатково змінювався стиль, якщо потрібно */
.bar.hover-active .label, 
.bar.hover-active .percentage {
  font-weight: 500;
}